
/* Baggrundsfarve: #121212*/


/* Label */
.label{
    -fx-font-family: Arial;
    -fx-text-fill: #B9B9B9;
    -fx-effect: null;
}

.text{
    -fx-text-fill: #B9B9B9;
    -fx-effect: null;
}

#header{
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

/* Button */
.button{
    -fx-background-radius: 10;
    -fx-border-insets: 0 0 -1 0;
    -fx-border-width: 1;
    border-width: 1;
    -fx-border-color: transparent;
    border-color: transparent;
    -fx-background-color: #515151;
    background-color: #515151;
    -fx-font-family: Aller;
    -fx-font-weight: bold;
    -fx-text-fill: #B9B9B9;
    -fx-min-height: 30;
    min-height: 30;
    -fx-pref-height: 30;
    -fx-effect: null;
}
.button:focused{
    -fx-border-radius: 5;
    -fx-border-color: #B9B9B9;
    border-color: #B9B9B9;
    -fx-background-color: #121212;
    background-color: #121212;
}
.button:hover{
    -fx-border-radius: 5;
    -fx-border-color: #F7F7F7;
    border-color: #F7F7F7;
    -fx-background-color: #666666;
    background-color: #666666;
    -fx-cursor: HAND;
    cursor: HAND;
    -fx-effect: null;
 }
.button:pressed{
    -fx-border-radius: 5;
    -fx-border-color: #F7F7F7;
    border-color: #F7F7F7;
    -fx-background-color: #2D2D2D;
    background-color: #2D2D2D;
    -fx-cursor: HAND;
    cursor: HAND;
}

/* TextField */
.text-field{
    -fx-background-radius: 2;
    -fx-border-width: 1;
    border-width: 1;
    -fx-border-color: transparent;
    border-color: transparent;
    -fx-background-color: #F0F0F0;
    background-color: #F0F0F0;
    -fx-text-fill: #333333;
    -fx-highlight-fill: #4e4e4e;
    -fx-min-height: 30;
    min-height: 30;
    -fx-pref-height: 30;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
}
.text-field:hover{
    -fx-border-radius: 2;
    -fx-border-color: #8AA8AE;
    border-color: #8AA8AE;
    -fx-background-color: #F7F7F7;
    background-color: #F7F7F7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}
.text-field:focused{
    -fx-border-radius: 2;
    -fx-border-color: #F7F7F7;
    border-color: #F7F7F7;
    -fx-background-color: #F7F7F7;
    background-color: #F7F7F7;
}

/*special*/
#center-pane{
    -fx-background-radius: 3;
    -fx-background-color: #1D1D1D;
    background-color: #1D1D1D;
}

/* slider*/
.slider.track{
   -fx-background-color: #121212;
       background-color: #121212;
}

/* TableView */
.table-view{
    -fx-border-width: 1;
    border-width: 1;
    -fx-border-radius: 0;
    border-radius: 0;
    -fx-border-color: #515151;
    border-color: #515151;
    -fx-background-radius: 0;
    -fx-background-color: #1D1D1D;
    background-color: #1D1D1D;
    -fx-table-cell-border-color: #B9B9B9;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
}
.table-view:focused{
    -fx-border-width: 1;
    border-width: 1;
    -fx-border-radius: 0;
    border-radius: 0;
    -fx-border-color: #515151;
    border-color: #515151;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1D1D1D;
    background-color: #1D1D1D;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}
.table-view .column-header-background{
    -fx-border-width: 0 0 1 0;
    border-width: 0 0 1 0;
    -fx-border-color: #26353a;
    border-color: #26353a;
    -fx-background-radius: 0;
    -fx-background-color: #515151;
    background-color: #515151;
    -fx-text-fill: #F7F7F7;
}
.table-view .column-header {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-color: transparent;
    border-color: transparent;
}
.table-view .column-resize-line {
    -fx-background-color: #B9B9B9;
    background-color: #B9B9B9;
    -fx-pref-width: 1;
}
.table-row-cell{
    -fx-background-color: #2D2D2D;
    background-color: #2D2D2D;
    -fx-text-background-color: #F7F7F7;
    -fx-margin: 1;
    margin: 1;
}
.table-row-cell:hover {
    -fx-background-color: #1D1D1D;
    background-color: #1D1D1D;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-row-cell:selected {
    -fx-table-cell-border-color: #515151;
    -fx-background-color: #515151;
    background-color: #515151;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-row-cell:pressed {
    -fx-background-color: #717171;
    background-color: #717171;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-view .column-header .label {
    -fx-alignment: center-left;
    -fx-cursor: HAND;
    cursor: HAND;
}
.table-view .filler {
    -fx-background-color: transparent;
    background-color: transparent;
}
.table-view .column-drag-header{
    -fx-background-color: #8AA8AE;
    background-color: #8AA8AE   ;
}

.table-view .arrow {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: " ";
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #1D1D1D;
	-fx-background-insets: 1, 1, 1, 1;
	-fx-background-radius: 15;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
}

.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0;
}

/* text area */
.text-area .content{
    -fx-background-color: #F7F7F7;
    -fx-highlight-fill: black;
}

.text-area {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
}

.text-area:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}